.calculator{
    height: 667px;
    width: 375px;
    border-radius: 5px;
    overflow: hidden;
    
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 110px 90px 90px 90px 90px 90px 90px;
}